body {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
  color: #555555;
}

.container {
  width: 100%;
  display: inline-flex;
}

.info {
  width: 200px;;
  height: 100vh;
  position: fixed;
  background: #fefefe;
  padding: 2rem 3.5rem 0 3.5rem;
  text-align: center;
  box-shadow: 2px 0px 5px #ccc;
}

.info-more {
  margin-left: 300px;
}

.info-section {
  text-align: left;
}

.info .profile-image {
  border: 5px solid #ddd;
  box-shadow: 0px 0px 5px #ccc;
}

.shadow {
  box-shadow: 0px 0px 5px #ccc;
}

.info h2 {
  margin-top: 20px;
  font-size: 1.8rem;
  margin: 10px 0;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.social-links div {
  display: inline;
}

.social-links div img {
  width: 36px;
  margin-right: 10px;
}

.info-more {
  width: 85%;
  padding: 20px 20px 20px 50px;;
}

.info-more h3 {
  font-weight: 100;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

.info-more h1 {
  background: #f7f7f7;
  padding: 15px 0;
  box-shadow: 0px 3px 2px #ccc;
}

.line {
  opacity: .3;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.degree {
  margin: 5px auto;
}

table.education-table {
  width: 100%;
}

.education-table .edu-info {
  width: 80%;
}

.education-table .year {
  width: 20%;
}

tr:nth-child(2) {
  background: #f5f5f5;
}
